<!DOCTYPE html>
<html>
<head>
    <link  href="/assets/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <%- include ('partials/nav.ejs'); -%>
    <h1>CONTACT PAGE</h1>
    <p>ELMAKHLOuK CHOUAIB : 0679388075</p>
    <p>djhk CHOUAIfdsfB : 0645789820</p>
    <p>dfdfdv dfdB : 06598945623</p>
    <p>ELMAKHLOuK CHOUAIB : 0679388075</p>
    <p>djhk CHOUAIfdsfB : 0645789820</p>
    <p>dfdfdv dfdB : 06598945623</p>
</body>
</html>