<!DOCTYPE html>
<html>
<head>
   <link  href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <%- include ('partials/nav.ejs'); -%>
    <h1>WELCOME TO MY SITE THE MOST AWSOME WEBSITE EVERfs</h1>
    <p>You Won't find any better</p>
</body>
</html>